$max: 10;
$offset: 1;
$unit: 'rem';

@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}


// padding classes
@include list-loop('.p-', 'padding');
@include list-loop('.pl-', 'padding-left');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pt-', 'padding-top');

// margin classes
@include list-loop('.ml-', 'margin-left');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.mt-', 'margin-top');

// width
@include list-loop('.w-', 'width');

// font size classes
@include list-loop('.fs-', 'font-size');

@media screen and (max-width: 500px) {
  $max: 10;
  $offset: 1;
  $unit: 'px';

  @mixin list-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
      #{$className + $i} {
        #{$styleName}: #{$i * 7 + $unit};
      }
      $i: $i + $offset;
    }
  }
  @include list-loop('.fs-', 'font-size');


}
